body{
  background-color: rgb(33, 37, 45);
}

.content{
  margin: 1%;
  width: 400px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(240, 240, 255);
  background-color: rgb(21, 27, 33);
}

.profilePicture{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info{
  text-align: center;
}

.info > h3{
  text-align: center;
  margin: 5px;
  color: #72b2ee;
  font-size: 1rem;
}

.info > h4{
  font-size: .9rem;
}

a:link, a:visited  {
  color: #fafaff;
  text-decoration: none;
}

a:hover{
  color: #72b2ee;
}

.description{
  padding: 0 40px;
}

.description > h2{
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px
}

.description > p, .description > ul{
  margin: 0;
  margin-bottom: 10px;
  font-size: .8rem;
}

footer{
  background-color: rgb(11, 13, 15);
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 30px;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footerIcon{
  width: 35px;
}